# ---------- Python / Django ----------
__pycache__/
*.pyc
.env
.env.*
db.sqlite3
media/
staticfiles/
.venv/

# ---------- iOS / Xcode ----------
.DS_Store
xcuserdata/
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
.build/
Packages/
Pods/
build/

# ---------- Android ----------
.gradle/
local.properties
**/build/
**/.idea/
*.iml
*.apk
*.aab
